/*URXVT CONFIG*/
URxvt*termName:               rxvt-256color
URxvt*scrollBar:              false
URxvt*perl-lib:               /usr/lib/urxvt/perl/
URxvt*urlLauncher:            chromium
URxvt*matcher.button:         true
URxvt*skipScroll:             true
URxvt*scrollBar_right:        false
URxvt*cursorBlink:            true
URxvt*mouseWheelScrollPage:   false
URxvt*urgentOnBell:           false
URxvt*visualBell:             false
URxvt*saveLines:              10000
URxvt*buffered:               true
URxvt*hold:                   true
URxvt*depth:                  32
URxvt*iso14755:               false
URxvt*iso14755_52:            false
/*FONT CONFIG*/
/*URxvt*font:                   xft:MesloLGS Nerd Font:size=13*/
URxvt*font:                   -uw-ttyp0-medium-r-normal--18-170-75-75-c-90-iso8859-1
URxvt*letterSpace:            0
Xft*antialias:                true
Xft*hinting:                  full
/*COLORS*/
URxvt*background:             [80]#000000
URxvt*foreground:             #d6d6d6
URxvt*color0:                 #40494D
URxvt*color1:                 #FF003A
URxvt*color2:                 #46B59C
URxvt*color3:                 #FBFF36
URxvt*color4:                 #4BACB7
URxvt*color5:                 #7668C4
URxvt*color6:                 #4BACB7
URxvt*color7:                 #D6D6D6
URxvt*color8:                 #40494D
URxvt*color9:                 #FF003A 
URxvt*color10:                #46B59C
URxvt*color11:                #FBFF36
URxvt*color12:                #4BACB7
URxvt*color13:                #7668C4
URxvt*color14:                #4BACB7
URxvt*color15:                #D6D6D6
/*URXVT PERLS*/
URxvt.perl-ext-common:        default,clipboard,url-select,keyboard-select,resize-font,ibeamcursor
URxvt.url-select.launcher:    qutebrowser
URxvt.url-select.underline:   true
URxvt.keysym.M-u:             perl:url-select:select_next
URxvt.keysym.M-a:             perl:keyboard-select:activate
URxvt.keysym.M-s:             perl:keyboard-select:search
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.C-Down:          resize-font:smaller
URxvt.keysym.C-Up:            resize-font:bigger
