[Desktop Entry]
Version=1.0
Name=Compton Settings
Comment=compositor settings
Exec=paranoid.py
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GTK;
